input.search-btn{
    width: 40px;
    height: 2em;
    border: none;
    background-color: white;
    color: black;
    border: 0.5px solid lightgrey;
}
#form1{
    padding-left:5px;
}
#form2,#form3{
    padding-left:20px;
}
#form1 input[type="text"],#form2 input[type="text"],#form3 input[type="text"]{
    border:1px solid lightgray;
    width: 150px;
    height: 2em;
    font-size: 1em;
    background: rgba(255,255,255,0.9);
    transition: all 0.2s linear;
}
#form1 input[type="text"]:focus,#form2 input[type="text"]:focus,#form3 input[type="text"]:focus{
    border: 1px solid lightseagreen;
}
input.submit-btn{
    width: 4em;
    height: 2em;
    border: 1px solid lightgrey;
    background-color: cadetblue;
    border-radius: 0.2em;
    transition: all 0.2s linear;
    color: white;
}
input.submit-btn:hover{
    background-color: steelblue;
}